body{
    font-family: "Roboto Condensed", sans-serif;
    background: #405D72;
    
   }

h1 {
    text-align:center;
    font-weight:bolder;
    font-style: normal;
    text-decoration:none;
    font-size:32px;
    font-stretch:expanded;
    color: #F7E7DC;
}

.main {
    color: #FFF8F3;
    text-align: left;
    font-weight: 300;
    text-decoration:none;
}

h5+p {
text-shadow: #405D72;
}

p[text]{
    text-align: left;
}